@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari&display=swap');

html {
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    font-size: 10px;
    font-weight: 150;
    color: black;
    background: rgba(236, 74, 15, 0.732)
    /*url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4NjUwODQ3LWltYWdlLWpvYjYzMC1hXzIuanBn.jpg);*/
}

body {
    font-size: 2rem;
    margin: 0 auto;
    width: 70vw;
    text-align: justify;
}

@media (max-width: 768px) {
    body {
        width: 100vw;
    }
}

@media (min-width: 2000px) {
    body {
        max-width: 700px;
    }
}

h1 {
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    font-size: 4rem;
    color: black;
    text-align: center;
}

.subtitle {
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    font-size: 2rem;
    color: black; 
}

h2 {
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    font-size: 2.8rem;
    margin: 50px 0 25px 0;
    text-align: center;
}

h3 {
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    font-size: 2.5 rem;
    font-weight: 600;
    margin: 40px 0 5px 0;
    color: black;
}

section {
    text-align: justify;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 25px;
}

#img-caption {
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    margin-top: 20px;
    text-align: center;
}

.source-image {
    width: 200px;
    height: 100px;
    border-radius: 15px;
    background-color: white;
    margin: 0 10px 50px 10px;
}

.lift-animation {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.322);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-bottom: 30px;
}

.lift-animation:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.377);
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
}